@import 'components/header/style.css';
@import 'components/navigation/style.css';
@import 'components/timer/style.css';

@font-face {
    font-family: 'silkscreennormal';
    src: url('slkscr-webfont.eot?#iefix') format('embedded-opentype'),
    url('./slkscr-webfont.woff') format('woff'),
    url('slkscr-webfont.ttf') format('truetype'),
    url('slkscr-webfont.svg#silkscreennormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: silkscreennormal, sans-serif;
    font-size: 1.2rem;
}

body {
    background: #fff;
}

h1 {
    color: #000;
}

p {
    color: #000;
}

span {
    color: #000;
}

a {
    color: #88aabb;
    cursor: pointer;
}

a:hover {
    color: #aaccdd;
}

button {
    border: 0;
    font-size: 2rem;
    min-width: 15rem;
    outline: 0;
    padding: 2.5rem;
}

select {
    padding: 1rem;
}

td {
    color: #fff;
}

#container {
    margin: 0 auto;
}

#main {
    padding: 1rem;
}
